body{
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.container{
    width: 2000px;
}
.titulo h2{
    color: #ae0000;
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 55px;
}
img.swal2-image{
    width: 2100px;
}
div.swal2-popup.swal2-modal.swal2-show{
    width: 1000px;
}
.figure{
    padding-top: 30px;
    
}
th.table-dark{
    color: #fff;
    font-size: 22px;
    font-family: 'Crete Round', serif;
}
.table td{
    font-size: 25px; 
    color: #a42124;
    font-family: 'Crete Round', serif;
}
.table{
    background-color: #343232;
}
